.todoLadoDireita {
    
    width: 100%;
    border-radius: 5px;
    -webkit-box-shadow: -1px -1px 16px 1px rgba(212,212,212,0.75);
    -moz-box-shadow: -1px -1px 16px 1px rgba(212,212,212,0.75);
    box-shadow: -1px -1px 16px 1px rgba(212,212,212,0.75);
    padding: 6px;
}